/* canvas {
    height: 400px !important;
    width: 400px !important;
} */

.saveField {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.saveField input {
    margin-right: 10px;
}